main {
    display: flex;
}
#list {
    width: 50%;
    display: inline-block;
}
#list li {
    cursor: pointer;
}
#list li:hover {
}

#description {
    display: none;
}

.show {
    display: inline-block!important;
    width: 50%;
    
}